footer{
padding-top:3em;
background: #f2f2f2;
}

.footer-container{
display:flex;
flex-direction: row;
width:100%;
justify-content:space-around;
padding-bottom: 5em;


}


.footer-container-brand h4{
    padding-bottom: 0.5em;
    font-size:1.5em;
}

.footer-container-brand{

  width:35%;
  text-align:left;


}
.all-information-container{
    display: flex;
    flex-direction: row;/*
    border: 1px solid black;*/
}
.all-information-container>div{
   margin: 1em;/*
   border: 1px solid black;*/
}
.footer-container-info-text h4{
    padding-bottom: 1em;
    font-size:1em;
}

.footer-container-info-text{
    width:30%;
}
.footer-container-info h4{
    padding-bottom: 1em;
    font-size:1em;

}
.footer-container-info{

width:20%;


}

.footer-container-info-text a{
    text-decoration: none;
    color:black;
}
.footer-container-info-text a:hover{

    font-weight: bold;
    color:black;
}

.footer-container-info-follow{
    display:flex;
    flex-direction: row;
    width: 100%;
    margin:auto;
}

.footer-container-info-icon{

    text-align: center;
    flex:0 0 22.333333%;
    max-width: 24.333333%;
}

.footer-container-info-icon i{

    display: inline-block;
    width: inherit;
    color: #000;
    text-align: center;
    font-size: 1.25rem;
    line-height: 47px;
}


.footer-container-info-icon i:hover{

    z-index: 1;
    display: inline-block;
    padding: 0;
    margin: 10px;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    border-color:#262223;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);

    transition: all .25s ease-in-out;
    width: 47px;
    height: 47px;
}


@media only screen and (max-width: 700px) {


.footer-container{
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content:space-around;
    width:100%;
    padding: 0.5em;
    }
    .footer-container-brand{
        text-align: center;
        width: 100%;
        justify-content: center;
        padding-bottom: 1em;
    }
    .footer-container-info-text{
        text-align: left;
        width: 100%;
        justify-content: center;
        padding-bottom: 1em;
    }
    .footer-container-info{
        text-align: center;
        width: 100%;
        justify-content: center;
        padding-bottom: 1em;
    }

    .footer-container-info-icon{
        text-align: center;
        width: 100%;
    }
    .all-information-container{
        display: flex;
        flex-wrap: wrap;
        margin: auto;/*
        border: 1px solid black;*/
    }
    .all-information-container>div{
     width: 45%;
     margin: 0.2em;
    }
}

/*Reference*/

.reference-container{

    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
.reference-container a{
    color:purple;
    text-decoration: none;
}
.reference-container a:hover{
    color:purple;
    text-decoration:underline;
}

/* Footer */
.footer {
    padding: 20px;
    padding-top:3em;
    text-align: center;
border-top: 1px solid grey;
    margin-top: 20px;
}

.footer-container-info-text a:hover{
    background-color: #D9D9D9;
    transition: .3s ease;
 }
