.process-image{
	width:40em;
	height: 24em;
}
.posters{
	width:20em;
	height: 31em;
}
.icon{
	width: 10em;
	height: 12em;
}

@media only screen and (max-width: 900px) {
 .process-image{
	width:22em;
	height: 14em;
}
p{
	text-align: left;
 }}
