@font-face {
	font-family: 'PlayfairDisplay';
	font-weight: black;
	font-style: normal;
	src: url('../fonts/PlayfairDisplay-Black.ttf');
}

@font-face {
	font-family: 'PlayfairDisplay';
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/PlayfairDisplay-Bold.ttf');
}

@font-face {
	font-family: 'PlayfairDisplay';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/PlayfairDisplay-Regular.ttf');
}

@font-face {
	font-family: 'PlayfairDisplay';
	font-weight: normal;
	font-style: italic;
	src: url('../fonts/PlayfairDisplay-Italic.ttf');
}

@font-face {
	font-family: 'PlayfairDisplay';
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/Lato-Bold.ttf') format('truetype');
}