*{
  box-sizing: border-box;
}
body {
  font-family: 'Arimo';
  padding: 1rem;
  font-size: 1rem;
  background-color:#f9813a;
}

h1,h2,h3,h4{
  font-family: 'Playfair Display';
  
}

h1{
  font-size: 2.25rem;

}
h2{
  font-size: 1.8rem;
}
h3{
  font-size: 1.3rem;
}
h4{
  font-size: 1.1rem;
}

/*section:not([id]) {
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 1px solid #333;
}*/

section p {
  margin-top: 0;
  text-height:1.5em;
}
.title{
  color: white;
  text-align: center;
  font-size: 2.8em;
}
.sub-title{
  color: #f9813a;
  text-align: center;
  font-size: 1.8em;
}
.code-box{
  background-color: #fcf1f1;
  border-radius: 1rem;
}
.image-code{
  background-color: #fcf1f1;
  border-radius: 1rem;
  height: 8em;
}
.image-code-box{
  justify-content: space-around;
}
.image-code{
  align-self: center;
}
.container{
  padding: 1em;
  border-radius: 0.5em;
  margin-bottom: 3rem;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.container>h1 h2 h3 h4 p{
  color: rgb(26,28,32);
}

/*Flex box*/
.flex-container{
  display: flex;
  flex-wrap: wrap;
  /*border: 1px solid black;*/
}
.flex-container>div{
  width: 45%;
  /*border: 1px solid black;*/
  margin-right: 1.5em;
  padding: 1rem;
}
.flex-container>h2{
  width: 100vw;
  /*border: 1px solid black;*/
}

/* 
  INTERACTIVE ELEMENTS -------------------
*/
.in-text-link{
  color: #f9813a;
}
.in-text-link:hover{
  color: white;
  background-color:#f9813a; 
  text-decoration: none;
}

/*buttons*/
.btns{
  display: flex;
  flex-wrap: wrap;
}
.btns>div{
  width: 45%;
  margin: auto;
}
.btn {
    border: none;
    color: white;
    padding: 10px 57px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
}
.btn-1{
  
  background-color:#f9813a;
  color: white;
}
.btn-2{
  background-color: #1a1c20;
  color: white;
}
.btn-2:hover,
.btn-2:focus {
    background-color: white;
    border: 2px solid black;
    color: black;
    transition: 0.3s;
}
.btn-1:hover,
.btn-1:focus {
    background-color: white;
    border: 2px solid #f9813a;
    color: #f9813a;
    transition: 0.3s;
}

/*text input*/
input[type=text] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #f9813a;
  border-radius: 4px;
}

input[type=text]:focus{
  width: 40%;
}

/*image*/
.pic-container {
  position: relative;
  width: 50%;
  max-width: 400px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.8); /* Black see-through */
  color: #f1f1f1; 
  width: 92%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.pic-container:hover .overlay {
  opacity: 1;
}
/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #FFF;
  background-color: #333;
  border-radius: 0.25em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.button-nav:hover, .button-nav:focus {
  background-color: #999;
}



/* 
  TEXT ELEMENTS -------------------
*/




/* 
  COMBINED ELEMENTS -------------------
*/
.main-nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  margin-bottom: 1rem;
}
.main-nav>li{
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #ffd5cd;
  color:#f9813a;
}

.color{
  text-align: center;
}
.black{
  background-color: #1a1c20;
  color: white;
}
.pink{
  background-color:#ffd5cd;
  color: black;
}
.orange{
  background-color:#f9813a;
  color: white;
}

.white{
  background-color:#fcf1f1;
  color: black;
}

/*responsive*/
@media only screen and (max-width: 900px) {
 .container{
    flex-direction: column;
 }
h2,p{
    text-align: center;
 }
.flex-container>div{
  width:100%;
  margin-bottom: 3rem;
}
.flex-container>div>p,h1,h2,h3,h4,ul,ol{
  text-align: center;
}
input[type=text] {
  width: 60%;
}
input[type=text]:focus{
  width: 70%;
}
}